@{
    ViewData["Title"] = "Checkout";
}

<body>
    <!-- Modal Pesquisa Início -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Procurar por palavra-chave</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center">
                    <div class="input-group w-75 mx-auto d-flex">
                        <input type="search" class="form-control p-3" placeholder="Pesquise por..." aria-describedby="search-icon-1">
                        <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Pesquisa Fim -->
    <!-- Cabeçalho de Página Início -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Check-out</h1>
    </div>
    <!-- Cabeçalho de Página Fim -->
    <!-- Check-out Início -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <h1 class="mb-4">Detalhes do Pedido</h1>
            <form action="#">
                <div class="row g-5">
                    <div class="col-md-12 col-lg-6 col-xl-7">
                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <div class="form-item w-100">
                                    <label class="form-label my-3">Primeiro Nome<sup>*</sup></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="form-item w-100">
                                    <label class="form-label my-3">Sobrenome<sup>*</sup></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-item">
                            <label class="form-label my-3">CEP<sup>*</sup></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-item">
                            <label class="form-label my-3">Endereço <sup>*</sup></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-item">
                            <label class="form-label my-3">Cidade<sup>*</sup></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-item">
                            <label class="form-label my-3">Telefone para contato<sup>*</sup></label>
                            <input type="tel" class="form-control">
                        </div>
                        <div class="form-item">
                            <label class="form-label my-3">E-mail<sup>*</sup></label>
                            <input type="email" class="form-control">
                        </div>
                        <br><hr><br>
                        <div class="form-item">
                            <textarea name="text" class="form-control" spellcheck="false" cols="30" rows="11" placeholder="Mensagem para o fornecedor (opcional)"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-5">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Produtos</th>
                                        <th scope="col"></th>
                                        <th scope="col">Preço</th>
                                        <th scope="col">Qtde.</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="small align-middle">
                                        <th scope="row">
                                            <div class="d-flex align-items-center py-3">
                                                <img src="img/imghere.png" class="img-fluid rounded-circle checkout_img_item" alt="">
                                            </div>
                                        </th>
                                        <td class="py-4">Produto</td>
                                        <td class="py-5">R$ 0,00</td>
                                        <td class="py-5">2</td>
                                        <td class="py-5">R$ 0,00</td>
                                    </tr>
                                    <tr class="small align-middle">
                                        <th scope="row">
                                            <div class="d-flex align-items-center py-3">
                                                <img src="img/imghere.png" class="img-fluid rounded-circle checkout_img_item" alt="">
                                            </div>
                                        </th>
                                        <td class="py-4">Produto</td>
                                        <td class="py-5">R$ 0,00</td>
                                        <td class="py-5">2</td>
                                        <td class="py-5">R$ 0,00</td>
                                    </tr>
                                    <tr class="small align-middle">
                                        <th scope="row">
                                            <div class="d-flex align-items-center py-3">
                                                <img src="img/imghere.png" class="img-fluid rounded-circle checkout_img_item" alt="">
                                            </div>
                                        </th>
                                        <td class="py-4">Produto</td>
                                        <td class="py-5">R$ 0,00</td>
                                        <td class="py-5">2</td>
                                        <td class="py-5">R$ 0,00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td class="py-5"></td>
                                        <td class="py-5"></td>
                                        <td class="py-5">
                                            <p class="mb-0 text-dark py-3">SUBTOTAL:</p>
                                        </td>
                                        <td class="py-5">
                                            <div class="py-3">
                                                <p class="mb-0 text-dark">R$ 0,00</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td class="py-5" colspan="4">
                                            <div class="align-middle py-2">
                                                <!-- Mensagem caso o frete seja grátis -->
                                                <h6 id="freteMensagem" class="text-success">Frete grátis para compras acima de R$ 100,00</h6>
                                                <!-- Mensagem caso o frete não seja grátis -->
                                                <h6 id="freteMensagem" class="text-danger">Taxa de entrega: R$ 10,00</h6>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td class="py-5"></td>
                                        <td class="py-5"></td>
                                        <td class="py-5">
                                            <p class="mb-0 text-dark py-3">TOTAL A PAGAR:</p>
                                        </td>
                                        <td class="py-5">
                                            <div class="py-3">
                                                <p class="mb-0 text-dark">R$ 0,00</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <tr>
                            <th scope="row" class="align-middle">Pagamento</th>
                            <td class="py-5" colspan="4">
                                <div class="mb-3 text-center">
                                    <select class="form-select w-50 mx-auto" id="metodoPagamento" onchange="mostrarCamposPagamento()">
                                        <option value="">Selecione o método de pagamento</option>
                                        <option value="pix">PIX</option>
                                        <option value="cartao">Cartão</option>
                                        <option value="entrega">Pagamento na entrega</option>
                                    </select>
                                </div>

                                <!-- Campos adicionais para PIX -->
                                <div id="dadosPix" class="mt-3 d-none">
                                    <h6 class="fw-bold">Dados para PIX</h6>
                                    <div class="mb-3">
                                        <label for="chavePix" class="form-label">Chave PIX:</label>
                                        <input type="text" class="form-control" id="chavePix" placeholder="Informe a chave PIX">
                                    </div>
                                </div>

                                <!-- Campos adicionais para Cartão -->
                                <div id="dadosCartao" class="mt-3 d-none">
                                    <h6 class="fw-bold">Dados para Cartão</h6>
                                    <div class="mb-3">
                                        <label for="numeroCartao" class="form-label">Número do Cartão:</label>
                                        <input type="text" class="form-control" id="numeroCartao" placeholder="Informe o número do cartão">
                                    </div>
                                    <div class="mb-3">
                                        <label for="validadeCartao" class="form-label">Validade:</label>
                                        <input type="text" class="form-control" id="validadeCartao" placeholder="MM/AA">
                                    </div>
                                    <div class="mb-3">
                                        <label for="cvv" class="form-label">CVV:</label>
                                        <input type="text" class="form-control" id="cvv" placeholder="Código de segurança">
                                    </div>
                                </div>

                                <!-- Mensagem para pagamento na entrega -->
                                <div id="dadosEntrega" class="mt-3 d-none">
                                    <p class="fw-bold">O pagamento será realizado na entrega.</p>
                                </div>
                            </td>
                        </tr>
                        <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                            <button type="button" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Fazer Pedido</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Check-out Fim -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>
</body>

